In [0]:
%sql
USE CATALOG hive_metastore; 

SELECT city,COUNT(*) AS count
FROM(
 SELECT explode(restaurants.restaurant.location.city) AS city
 FROM file_1)
 GROUP BY city
 ORDER BY count DESC

city,count
Dummy,20
Agra,20
Vizag,20
Ankara,20
Wellington City,20
Coimbatore,20
Rio de Janeiro,20
Birmingham,20
Amritsar,20
Varanasi,20
Ranchi,20
Mangalore,20
Mysore,20
Chennai,20
Ahmedabad,20
Lucknow,20
Cape Town,20
Indore,20
Dehradun,20
Aurangabad,20
Colombo,20
Manchester,20
São Paulo,20
Kochi,20
Patna,20
Edinburgh,20
Abu Dhabi,20
İstanbul,20
Bhopal,20
Nagpur,20
Brasília,20
Surat,20
Kanpur,20
Vadodara,20
Jaipur,20
Kolkata,20
Guwahati,20
Dubai,20
Mumbai,20
Ludhiana,20
Pretoria,20
Allahabad,20
Nashik,20
Bangalore,20
Puducherry,20
Goa,20
Pune,20
Doha,20
Sharjah,20
Singapore,20
Auckland,20
Bhubaneshwar,20
London,20
Hyderabad,18
Chandigarh,18
Jakarta,16
New Delhi,15
Sandton,11
Johannesburg,6
Gurgaon,5
Mandaluyong City,4
Taguig City,4
Pasig City,3
Pasay City,3
Inner City,2
Tangerang,2
Makati City,2
San Juan City,2
Secunderabad,2
Bogor,2
Randburg,1
Tagaytay City,1
Panchkula,1
Mohali,1
Quezon City,1

In [0]:
%sql
USE CATALOG hive_metastore; 

SELECT city, COUNT(*) AS count
FROM (
  SELECT explode(restaurants.restaurant.location.city) AS city FROM file_1
  UNION ALL
  SELECT explode(restaurants.restaurant.location.city) AS city FROM file_2
  UNION ALL
  SELECT explode(restaurants.restaurant.location.city) AS city FROM file_3
  UNION ALL
  SELECT explode(restaurants.restaurant.location.city) AS city FROM file_4
)
GROUP BY city
ORDER BY count DESC
LIMIT 10;

city,count
New Delhi,20843
Noida,4984
Gurgaon,3554
Guwahati,1111
Lucknow,796
Singapore,796
Hepburn Springs,688
Faridabad,658
Pune,532
Bandung,492

In [0]:
%sql
USE CATALOG hive_metastore; 

SELECT city, COUNT(*) AS count
FROM (
  SELECT explode(restaurants.restaurant.location.city) AS city FROM file_1
  UNION ALL
  SELECT explode(restaurants.restaurant.location.city) AS city FROM file_2
  UNION ALL
  SELECT explode(restaurants.restaurant.location.city) AS city FROM file_3
  UNION ALL
  SELECT explode(restaurants.restaurant.location.city) AS city FROM file_4
)
GROUP BY city
ORDER BY count DESC
LIMIT 10;

city,count
New Delhi,20843
Noida,4984
Gurgaon,3554
Guwahati,1111
Lucknow,796
Singapore,796
Hepburn Springs,688
Faridabad,658
Pune,532
Bandung,492

Databricks visualization. Run in Databricks to view.